html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    line-height: 1.5;
    scrollbar-gutter: stable;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease;

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        color: var(--text-color-main);
        box-shadow: 0px -4px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;

        &:hover {
            color: var(--text-color-main);
            box-shadow: 0px -10px 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

:root {
    --lazyload-blur: 30px;
}

.lazyload-wrapper {
    display: flex;
    position: relative;

    noscript {
        flex-grow: 1;
    }

    @supports ((backdrop-filter: blur(var(--lazyload-blur))) or (-webkit-backdrop-filter: blur(var(--lazyload-blur)))) {
        &:not(.no-js) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(var(--lazyload-blur));
                -webkit-backdrop-filter: blur(var(--lazyload-blur));
                transition:
                    backdrop-filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
                    -webkit-backdrop-filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &.loaded::before {
                backdrop-filter: initial;
                -webkit-backdrop-filter: initial;
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;

    @supports not (
        (backdrop-filter: blur(var(--lazyload-blur))) or (-webkit-backdrop-filter: blur(var(--lazyload-blur)))
    ) {
        &:not(.no-js).lazyload {
            transition: filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            filter: blur(var(--lazyload-blur));
            -webkit-filter: blur(var(--lazyload-blur));
            clip-path: inset(0);

            &.loaded {
                filter: initial;
            }
        }
    }
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;

    &.wide {
        max-width: var(--container-wide-width);
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.default-gap {
    gap: var(--default-gap);
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}
