#list-search {
    input {
        outline: 0;
        border: none;
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        color: var(--text-color-tertiary);
        font-size: 16px;
        font-family: inherit;
        transition: color 0.3s ease, border-bottom 0.3s ease;
        padding: 10px 0;
        border-radius: 0%;
        background-color: transparent;

        &:focus {
            color: var(--text-color-main);
            border-bottom: 2px solid var(--accent-color);
        }
    }

    p {
        color: var(--text-color-secondary);
    }
}
